<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=polizas</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">Pr4xi5A5a*</property>
<!--        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.0.11;databaseName=polizas</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">S1st3m4S*Duch3</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.dmjsistemas.model.Usuario"/>
        <mapping class="com.dmjsistemas.model.Rutas"/>
    </session-factory>
</hibernate-configuration>
